/*------------------------------ TOMORROW FONT ------------------------------*/
@font-face {
    font-family: 'Tomorrow';
    src: url('../assets/fonts/Tomorrow/Tomorrow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('../assets/fonts/Tomorrow/Tomorrow-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('../assets/fonts/Tomorrow/Tomorrow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('../assets/fonts/Tomorrow/Tomorrow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Tomorrow';
    src: url('../assets/fonts/Tomorrow/Tomorrow-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Tomorrow';
    src: url('../assets/fonts/Tomorrow/Tomorrow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/*------------------------------ NOTO_SANS FONT ------------------------------*/
@font-face {
    font-family: 'Noto_Sans';
    src: url('../assets/fonts/Noto_Sans/NotoSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto_Sans';
    src: url('../assets/fonts/Noto_Sans/NotoSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto_Sans';
    src: url('../assets/fonts/Noto_Sans/NotoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto_Sans';
    src: url('../assets/fonts/Noto_Sans/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noto_Sans';
    src: url('../assets/fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Noto_Sans';
    src: url('../assets/fonts/Noto_Sans/NotoSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/*------------------------------ FONT ??? ------------------------------*/
@font-face {
    font-family: 'Old_Standart_TT';
    src: url('../assets/fonts/Old_Standart_TT/OldStandardTT-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Old_Standart_TT';
    src: url('../assets/fonts/Old_Standart_TT/OldStandardTT-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Old_Standart_TT';
    src: url('../assets/fonts/Old_Standart_TT/OldStandardTT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
