@media (min-width: 1025px) {
  .menu_lateral_vendas_lista>ul>li>a {
    font-size: 0.627em;
  }

  .titulo_vendas_lateral {
    font-size: 0.8em;
  }

  .menu_lateral_vendas_conteudo>p {
    font-size: 0.8em;
  }
  .redes_pagamentos{
    font-size: 1.2em !important;
  }
  .redes_pagamentos>.redes{
    margin-bottom: 1em;
  }
  .pagamentos img {
    width: 40px;
    height: auto;
  }
  .informacao_footer{
    font-size: 0.99em !important;
  }

  .box_card_pages {
    margin: 5em 0;
  }
  
}