@media (max-width: 600px) {

    #inicio {
        width: 600px;

    }

    .nav_cabecalho a {
        display: block;
        margin-right: 8rem;
        font-size: 1.3rem;
    }

    .img_cabecalho {
        display: none;
    }

    .flutuante_direita {
        display: none;
    }

    .box_1 {
        margin: auto;
        margin-left: 10%;
    }

    .box_1_textos {
        margin: auto;
    }

    .box_2 {
        margin-right: 13%;
        padding: 0;
    }

    .box_2_textos {
        margin-left: 10%;
        width: 100%;
    }
    .box_2_textos h2 {
        text-align: center;
    }
    
    .box_2_paragrafo {
        text-align: justify;
    }

    .botao_1 {
        width: 90%;
        color: rgb(139, 135, 135);
        font-size: 20px;
    }

    .flutuante_esquerda {
        display: block;
        width: 100%;
        margin: 8%;
    }

    .galeria {
        margin-bottom: 10rem;
    }

    .bloco {
        display: block;
        width: 100%;
    }

}